{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h2 class="text-center">Register</h2>
<div class="container">
    <div class="card mx-auto" style="max-width: 500px;">
    
        <div class="card-body">
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    <div class="form-group">
                    {{ form_label(registrationForm.email, 'Title', {'label_attr': {'class': 'font-weight-bold'}}) }}
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Enter an email'}}) }}
    </div>
    <div class="form-group">
                    {{ form_label(registrationForm.plainPassword, 'Password', {'label_attr': {'class': 'font-weight-bold'}}) }}
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Enter a Password'}}) }}
    </div>
    <div class="form-group">
                    {{ form_row(registrationForm.agreeTerms) }}
    </div>
        {# {{ form_row(registrationForm.email) }} #}
        {# {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }} #}
        {# {{ form_row(registrationForm.agreeTerms) }} #}

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
    </div></div></div>
{% endblock %}
