{% extends 'base.html.twig' %}

{% block title %}All Tasks{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container mt-4">
        <h1>Task List</h1>
        
       
        </ul>
          {% if tasks|length == 0 %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">No tasks added yet</h5>
                <p class="card-text">Start adding tasks to your list!</p>
            </div>
        </div>
        {% else %}
        <ul class="list-group">
            {% for task in tasks %}
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h5>{{ task.name }}</h5>
                        <p>{{ task.description }}</p>
                        <p>Date: {{ task.getDateTime()|date('Y-m-d')}}</p>
                    </div>
                    <div>
                        <input type="hidden" name="box1" value="0">
                        <input type="checkbox" {% if task.isCompleted() %}checked{% endif %} value="yes" onChange='taskStatusChange(event, {{ task.id }})'> <!-- Completed checkbox -->
                        <a class="btn btn-danger btn-sm ml-2" href="{{path('app_task_delete',{'id': task.id})}}">Delete</a> <!-- Delete button -->
                    </div>
                </div>
            </li>
        {% endfor %}

        {% endif %}
    
    </div>
    <script>
    function taskStatusChange(event, taskId){
    
    const val = event.target.checked?1:0;
    const url = `/taskCompleted/${taskId}/${val}`; // Construct the URL

    // Send a POST request to the specified route
    fetch(url, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json', // Set the content type
        },
    })
        .then(response => {
            if (response.ok) {
                console.log('Request successful');
                // Handle success (e.g., update UI)
            } else {
                console.error('Request failed');
                // Handle error (e.g., show an error message)
            }
        })
        .catch(error => {
            console.error('Network error:', error);
            // Handle network error (e.g., show an error message)
        });
    }
    </script>
{% endblock %}
